.roundedRight {
  border-top-right-radius: 0.5rem; /* 对应 rounded-r-lg */
  border-bottom-right-radius: 0.5rem; /* 对应 rounded-r-lg */
  border-top-left-radius: 0rem; /* 对应 rounded-r-lg */
  border-bottom-left-radius: 0rem; /* 对应 rounded-r-lg */
  height: 41px;
  width: 41px !important;
}

.boxShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.suggestButton {
  background: linear-gradient(90deg, #8eefea, #5bc8ec 25%, #a093f4 50%, #f286d1 75%, #fa9191) !important;
  display: inline-block;
  border-radius: 20px;
  color: #fff;
}