.header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 24px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.light {
  background: #fff;
}

.logoContainer {
  width: 90px;
  height: 30px;
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 100%;
  max-width: 100%;
}

.light .logo {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.search {
  margin-right: auto;
}

.navIcons {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: #8c8c8c;
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #1890ff;
}