.projectInfo {
  margin-bottom: 12px;
}

.projectInfo  :global(.ant-card-body) {
  padding: 10px;
}

.projectTitle {
  margin-bottom: 4px !important;
  margin-top: 0;
  padding-right: 20px;
}

.description {
  text-align: left;
  display: block;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projectMeta {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
